.App {
  text-align: center;
}
body {
  font-family: figtree;
}
p {
  margin: 0px;
}

.background-properties {
  image-rendering: optimizeQuality;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
